body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

.form {
    margin: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
    background: white;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background: #3498db;
    color: white;
}

.supprimer {
    background: red;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
}
