body {
    font-family: Arial;
    background: #f4f6f9;
    color: #222;
    text-align: center;
    transition: 0.3s;
}

.dark {
    background: #121212;
    color: #eee;
}

h1 {
    margin-top: 20px;
}

.form {
    margin: 20px;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background: #3498db;
    color: white;
}

button:hover {
    background: #2980b9;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    background: white;
}

.dark table {
    background: #1e1e1e;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    background: #3498db;
    color: white;
}

.supprimer {
    background: red;
}
